.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.socialNetworksContainer--footersection{
  justify-content: end;
  margin-right: 30px;
  margin-top: -8px;
}
@media (max-width: 767px){
  .socialNetworksContainer--footersection{
    justify-content: end;
    margin-right: 0px;
    margin-top: -8px;
  }
}